/ProjetoFinalPOO/ProjetoFinalPOO/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/indexLayout.xml
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/projectSettingsUpdater.xml
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/vcs.xml
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/workspace.xml
/ProjetoFinalPOO/.vs/ProjetoFinalPOO
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/encodings.xml
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/indexLayout.xml
/ProjetoFinalPOO/.idea/.idea.ProjetoFinalPOO/.idea/vcs.xml
